{% extends "base.html" %}
{% block title %}Default{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<h1>This is Forms HTML File</h1>
<form method="POST" action="{{ url_for('forms') }}">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" value="Login" name="" id="">
</form>

<h1>File Upload Section</h1>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('file_upload') }}">
<input type="file" required="required"  name="file" id="" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,text/plain">
<input type="submit" value="Upload File" name="" id="">
</form>

<h1>File Conversion</h1>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('convert_to_csv') }}">
<input type="file" required="required"  name="file" id="" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
<input type="submit" value="convert to csv" name="" id="">
</form>

<h1>Covert to CSV two</h1>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('convert_csv_two') }}">
<input type="file" required="required"  name="file" id="" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
<input type="submit" value="convert to csv" name="" id="">
</form>

<h1>JavaScript JSON Request</h1>
<button style="background-color: red;" id="java_post">Send POST Request</button>

<script type="text/javascript">
    const postbutton = document.getElementById('java_post')
    const jsondata =  {name:"gorav",gretting:"Hello"}

    postbutton.addEventListener('click',()=>{
        fetch('{{ url_for("handle_request") }}',{
            method:'POST',
            headers:{
                'Content-Type':'application/json; charset=utf-8'
            },
            body: JSON.stringify(jsondata)
        })
        .then(response => response.json())
        .then(data => console.log("success",data))
        .catch((error)=>{
            console.error("Error:",error)
        });
    });

</script>



{% endblock %}